<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710259264384-39cll7q53e213fvafmsva4rup2ltv5l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710259264384-39cll7q53e213fvafmsva4rup2ltv5l5</string>
	<key>API_KEY</key>
	<string>AIzaSyDqEztT13tH3J3D8ICUntjGnMXpdioWwq0</string>
	<key>GCM_SENDER_ID</key>
	<string>710259264384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.makjac.hotelMotel</string>
	<key>PROJECT_ID</key>
	<string>hotelmotel-66527</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelmotel-66527.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710259264384:ios:add42c9c874da469abcf65</string>
</dict>
</plist>